<div class="public-Chat">
  <div class="Messages">

      <!-- <li class="myMessage">
        <span>Eu Mesmo</span>
        <span>Teste apenas </span>
      </li>

      <li class="othersMessage">
        <span>Ozoto</span>
        <span>Teste apenas2</span>
      </li>

      <li class="BotMessage">
        <span>--Chat-Bot--</span>
        <span>User  (( qualquer )) has been connected.</span>
      </li> -->

      <li *ngFor="let msg of msgs"
      [class.myMessage]="msg.email == userInfo.email"
      [class.othersMessage]="(msg.email == userInfo.email) == false"
      [class.BotMessage]="msg.email == 'Chat-Bot'"

      >
      <span>
        {{ msg.UserName }}
      </span>
      <span>
        {{ msg.message }}
      </span>
      </li>

  </div>
  <form class="chat-form">
      <input type="text" placeholder="Type a new message here..." #message>
      <button (click)="sendMessage($event, message)"><mat-icon>send</mat-icon></button>
  </form>
</div>
