.public-Chat {
  height: calc(100% - 80px);
  position: relative;
}

.Messages {
  height: calc(100% - 100px);
  display: flex;
  flex-direction: column;
  padding: 15px;
}
.Messages > li {
  color: white;

  list-style: none;
  margin: 10px 5px;
  display: flex;
  flex-direction: column;
  height: 30px;
  align-items: center;
  max-width: 45%;
  min-width: 100px;
  height: auto;
  padding: 5px;
  text-align: justify;


}

.myMessage {
  background: rgb(5, 148, 48);
  display: flex;
  align-self: flex-end;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px ;
}
.myMessage > span:first-child{
  margin-bottom: 3px;
  margin-right: 5px;
  align-self: flex-end;

}
.myMessage > span:last-child{
  margin-right: 10px;
  align-self: flex-end;
}
.othersMessage {
  background: rgb(36, 36, 82);
  align-self: flex-start;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px ;
}
.othersMessage > span:first-child{
  margin-bottom: 3px;
  align-self: flex-start;
}

.chat-form {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  padding: 15px;
}
.chat-form > input {
  width: 90%;
  height: 100%;
  margin: 0;
  padding: 5px;
  font-size: 20px;
}
.chat-form > button {
  width: 10%;
  height: 100%;
  background: rgb(0, 0, 0, 0.9);
  border: none;
}
.chat-form > button .mat-icon {
  color: white;
}

.chat-form > input:focus {
  outline: none;
}
.BotMessage {
  background: rgb(43, 43, 43);
  align-self: center;
  border-radius: 15px;
  padding: 10px 25px!important;
}
.BotMessage > span:first-child {
  align-self: center;
}
.BotMessage > span {
  margin: 5px;
}
