<div class="private-chat">
  <div class="chat-header">{{ this._userInfo.roomName }}</div>
  <div class="Messages">
    <ul>
      <li *ngFor="let msg of chatMessages"
       [class.myMessage]="msg.id == myid"
       [class.othersMessage]="(msg.id == myid) == false"
       >
        {{ msg.message }}
      </li>

    </ul>
  </div>
  <form>

    <div class="chat-bottom">
      <input type="text" placeholder="Type a new message here..." #message />
      <button (click)="sendMessage($event, message)">Send</button>
    </div>
  </form>
</div>
