.private-chat {
  height: 100%;
  background: #E4DCD9;
  display: flex;
  flex-direction: column;
}
.chat-header {
  height: 80px;
  background: #EEEEEE;
  display: flex;
  justify-content: space-between;
  padding: 0px 15px;
  z-index: 2;
}

.nameDesc{
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-right: 3px;
  align-self: center;
}

.participants{
  width: calc(100% - 280px);
  padding: 3px 10px;
  display: flex;
  justify-items: start;
  overflow-x: auto;
}
.participants > span {
  display: flex;
  flex-direction: column;
  border: 1px solid orange;
  margin: 0px 10px;
  align-items: center;
  padding: 0px 10px;

}
.participants > span > .mat-icon {
  font-size: 30px;
  width: 35px;
  height: 35px;
  background: gray;
  color: white;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
}
.participants > span > span:last-child{
  font-size: 12px;
  font-weight: 400;
  color: gray;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nameDesc >span:last-child {
  font-size: 12px;
  font-weight: 400;
  color: gray;
  overflow: hidden;
  text-overflow: ellipsis;
}
.groupTools {
  display: flex;
  width: 80px;
  justify-content: space-between;
  align-self: center;
}
.groupTools > span {
  cursor: pointer;
}
form{
  height: 90px;
}
.Messages{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background: #E4DCD9;
  height: calc(100% - 170px);
}
.Messages > ul {
  width: 100%;
  min-width: 500px;
  height: auto;
  max-height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
   align-items: center;
  /*justify-content: flex-end;
  margin: 0; */
  padding: 5px;
}
.Messages > ul> li {
  list-style: none;
  margin: 10px 5px;
  display: flex;
  flex-direction: column;
  max-width: 45%;
  min-width: 100px;
  text-align: justify;
  padding: 10px;
}

.myMessage {
  display: flex;
  align-self: flex-end;
  background: #DCF9C4;
  justify-content: space-between;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  align-items: flex-end;

}
.myMessage > span:first-child{
  /* background: red; */
  margin-right:  5px;
}
.othersMessage{
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  background: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  align-items: flex-start;

}
.othersMessage > span {
  display: flex;
  align-self: flex-start;
}
.othersMessage > span:first-child{
  font-size: 12px;
}

.othersMessage > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.othersMessage .time-message, .myMessage .time-message {
  display: flex;
  align-self: flex-end;
  margin-bottom: -5px;
}
.botMessage{
  background: #E0F2FB;
  width: 100%;
  display: flex;
  justify-content: center;
}
.chat-bottom{
  width: 100%;
  /* margin: 20px 5px; */
  padding: 20px;
  background: rgb(236 236 236);
}
.chat-bottom > input {
  width: 100%;
  height: 50px;
  border-radius: 20px;
  border: 1px solid rgb(0, 0, 0, 0.2);
  outline: none;
  padding-left: 20px;
  font-size: 16px;
}
.chat-bottom > button {
  width: 80px;
  display: none;
}
