<div class="private-chat">
  <div class="chat-header">
    <div class="nameDesc">
      <h4>{{ this._userInfo.roomName }}</h4>
      <span>{{ this._userInfo.groupDescription }}</span>
    </div>

    <div class="groupTools">
      <span>
        <i class="contactOptions" *ngIf="GroupOrChat">
          <i mat-button [matMenuTriggerFor]="beforeMenu">
            <mat-icon>more_vert</mat-icon>
          </i>
          <mat-menu #beforeMenu="matMenu" xPosition="after">
            <button mat-menu-item
              (click)="getGroupParticipants()"
            >
              Group Informations
            </button>
            <button mat-menu-item (click)="openDialogLeaveRoom()">
              Leave Group
            </button>
          </mat-menu>
        </i>
      </span>

      <span><mat-icon (click)="exitChat()">close</mat-icon></span>
    </div>
  </div>
  <div class="Messages">
    <ul class="MessagesList">
      <li
        *ngFor="let msg of chatMessages"
        class="msg"
        [class.myMessage]="msg.id == myid"
        [class.othersMessage]="(msg.id == myid) == false"
      >
        <span *ngIf="(msg.id == myid) == false">{{ msg.name }}</span>
        <span>{{ msg.message }}</span>
      </li>
    </ul>
  </div>
  <form>
    <div class="chat-bottom">
      <input type="text" placeholder="Type a message" #message />
      <button type="submit" (click)="sendMessage($event, message)">Send</button>
    </div>
  </form>
</div>
