<div class="lobby">
  <div class="column">
    <div class="top-buttons">
      <app-menu></app-menu>
    </div>
    <div class="newChats">
      <div *ngIf="newgroup">
        <app-new-group></app-new-group>
      </div>

      <div *ngIf="contacts">
        <button class="back" (click)="cancelNewGroup()">
          <mat-icon>keyboard_backspace</mat-icon>
          <span>Back</span>
        </button>

        <div class="addContactButton" (click)="openDialogForm()">
          <mat-icon class="addContact" >person_add</mat-icon>
          <span>New Contact</span>
        </div>

        <ul class="contactList">

          <button mat-raised-button *ngFor="let contact of contactsList" (click)="createChat(contact._id)">
            {{ contact.name }}
          </button>

          <button mat-raised-button *ngFor="let contact of contactsList">
            {{ contact.name }}
          </button>

        </ul>
      </div>

      <div *ngIf="getChats" class="chats">
        <h3>CHATS</h3>
        <li *ngFor="let salas of rooms" [routerLink]="['/lobby/', salas.name]" (click)="getChatid(salas.Room_id)" class="chat">
          <span> {{ salas.name }} </span>
        </li>
      </div>

    </div>
  </div>
  <router-outlet class="router-outlet"></router-outlet>
</div>
