<div class="lobby">
  <div class="column">
    <div class="top-buttons">
      <app-menu style="width: 100%"></app-menu>
    </div>
    <div class="newChats">
      <div *ngIf="newgroup">
        <app-new-group></app-new-group>
      </div>

      <div *ngIf="contacts">
        <button class="back" (click)="cancelNewGroup()">
          <mat-icon>keyboard_backspace</mat-icon>
          <span>Back</span>
        </button>

        <div class="addContactButton" (click)="openDialogForm()" *ngIf="!addContactGroup">
          <mat-icon class="addContact">person_add</mat-icon>
          <span>New Contact</span>
        </div>

        <ul class="contactList">
          <div *ngFor="let contact of contactsList">
            <div class="contactButton">
              <span>{{ contact.name }}</span>
              <span>{{ contact.email }}</span>
            </div>
            <i class="contactOptions">
              <i mat-button [matMenuTriggerFor]="beforeMenu">
                <mat-icon>more_vert</mat-icon>
              </i>
              <mat-menu #beforeMenu="matMenu" xPosition="after">
                <button mat-menu-item (click)="createPrivateChat(contact)">
                  Send a message
                </button>
                <button mat-menu-item (click)="InviteToGroup(contact._id)">Invite to a group</button>
                <button mat-menu-item
                  (click)="openDialogDeletContact(contact._id)"
                >
                  Delete contact
                </button>
              </mat-menu>
            </i>
          </div>
        </ul>
      </div>

      <div *ngIf="getChats" class="chats">
        <h3>CHATS</h3>
        <li *ngFor="let salas of rooms"
          [routerLink]="['/lobby/', salas.name]"
          (click)="getGroupId(salas.Room_id)"
          class="chat" >
          <i class="icon"><mat-icon>people</mat-icon> </i>

          <span> {{ salas.name }} </span>
        </li>

        <li
          *ngFor="let chat of privateChats"
          [routerLink]="['/lobby/', chat.name]"
          (click)="createPrivateChat(chat)"
          class="chat"
        >
          <i class="icon"><mat-icon>person</mat-icon> </i>

          <span>{{ chat.name }} </span>
        </li>
      </div>
    </div>
    <div *ngIf="renderGroupInfo" class="groupInfo">
      <button class="back" (click)="cancelNewGroup()">
        <mat-icon>keyboard_backspace</mat-icon>
        <span>Back</span>
      </button>
      <div class="groupinfoHeader">
        <h2>{{ groupInfo.roomName }}</h2>
        <span>{{ groupInfo.description }}</span>
        <h4>Created at: {{ groupInfo.createdAt | date:'MMM d, y' }}</h4>
        <span class="AddContactInGroup"><mat-icon class="addContact" (click)="addParticipants(true)">person_add</mat-icon>
          Add New Participant
        </span>
      </div>
      <div class="participant-list">
        <li
          *ngFor="let participants of groupInfo.participants"
          class="participant"
          (click)="participantsSettings(participants)"
          mat-button
        >
          <div>
            <span> {{ participants.name }} </span>
            <span> {{ participants.email }} </span>
          </div>
          <div>
            <i [matMenuTriggerFor]="participant">
              <mat-icon>more_vert</mat-icon>
            </i>
            <mat-menu
              #participant="matMenu"
              xPosition="before"
              yPosition="below"
            >
              <button mat-menu-item (click)="addContact(participants.email)">Add Contact</button>
              <button mat-menu-item *ngIf="userStatus" (click)="removefromgroup(participants)">remove Contact</button>
            </mat-menu>
            <span
              class="participantStatus"
              *ngIf="participants.status == 'administrator'"
            >
              {{ participants.status == "administrator" ? "adm" : "" }}
            </span>
          </div>
        </li>
      </div>
    </div>
  </div>
  <app-lobby-screen *ngIf="!exitPage" class="homescreen"></app-lobby-screen>
  <router-outlet class="router-outlet" *ngIf="exitPage"></router-outlet>
</div>
