<div class="lobby">
  <div class="column">
    <div class="top-buttons">
      <app-menu></app-menu>
    </div>
    <div class="newChats">
      <div *ngIf="newgroup">
        <app-new-group></app-new-group>
      </div>

      <div *ngIf="contacts">
        <button class="back" (click)="cancelNewGroup()">
          <mat-icon>keyboard_backspace</mat-icon>
          <span>Back</span>
        </button>

        <div class="addContactButton" (click)="openDialogForm()">
          <mat-icon class="addContact" >person_add</mat-icon>
          <span>New Contact</span>
        </div>

        <ul class="contactList">

          <button *ngFor="let contact of contactsList"  [routerLink]="['/lobby/', contact.name]">
            <div class="contactButton">
              <span>{{ contact.name }}</span>
              <span>{{ contact.email }}</span>
            </div>
            <i class="contactOptions"><mat-icon (click)="createPrivateChat(contact)">more_vert</mat-icon></i>
            <!-- <app-contact-options ></app-contact-options> -->
            </button>


        </ul>
      </div>

      <div *ngIf="getChats" class="chats">
        <h3>CHATS</h3>
        <li *ngFor="let salas of rooms" [routerLink]="['/lobby/', salas.name]" (click)="getGroupId(salas.Room_id)" class="chat">
          <i class="icon"><mat-icon>people</mat-icon> </i>

          <span> {{ salas.name }} </span>
        </li>

        <li *ngFor="let chat of privateChats" (click)="createPrivateChat(chat)" [routerLink]="['/lobby/', chat.name]" class="chat">
          <i class="icon"><mat-icon>person</mat-icon> </i>

        <span>{{ chat.name }}  </span>
        </li>
      </div>

    </div>
  </div>
  <router-outlet class="router-outlet"></router-outlet>
</div>
