.newGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.group-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.tittle, .description {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
}
.tittle > i, .description > i {
  margin-left: 20px;
}
.tittle > input, .description > input{
  text-align: center;
}
.tittle > span, .description > span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.description > .mat-form-field, .tittle > .mat-form-field{
  width: 100%;
  font-size: 16px;
}

.tittle {
  display: flex;
  justify-content: space-between;
}


.mute {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  height: 30px;
  border-bottom: 1px solid rgb(0, 0, 0, 0.1);
  margin: 5px 0px;
}
.mute > span {
  display: flex;
  align-self: center;
}
.mute > i {
  display: flex;
  align-self: center;

}
.addMoreParticipants {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  color: rgb(0, 136, 138);
  cursor: pointer;
  border-bottom: 1px solid rgb(0, 0, 0, 0.1);
  margin-top: 5px;
}

.addMoreParticipants > span {
  margin: 0px 5px;
}
.addMoreParticipants >span:first-child > .mat-icon{
  height: 40px ;
  width: 40px ;
  font-size: 35px;
  /* color: rgb(0, 136, 138); */
}
.participantsList > li {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 0px;
}
.participantsList > li > span {
  margin: 0px 3px;
}

.userIcon > .mat-icon {
  font-size: 35px;
  margin-right:  15px;
  color: gray;
}
.back {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 15px 15px 15px 0px;
  margin-left: 0px;
  background: rgb(0, 169, 167);
  border: none;
  color: white;
}
.back > i {
  height: 50px;
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 200ms;
}
.back > i:hover {
  background: rgb(255, 255, 255, 0.1);
}
.back > h3 {
  margin: 15px;
  font-size: 18px;
}

.groupImg {
  border-radius: 100%;
  background: gray;
  color: white;
  height: 200px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  align-items: center;
  margin: 40px 0px;
}

.desc-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;

}
.tittle > span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.desc-group >  span {
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
}
.newGroup > span{
  margin-left: 20px;

}

.example-full-width{
  display: none;
}

.col {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.col > h2{
  margin-left: 20px;
}

.box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 0px 5px 0px;
  box-shadow: rgb(0, 0, 0, 0.4) 2px 2px 10px;
  padding: 5px 20px;
}
.box >span {
  margin: 5px 0px;
}
.nextStepButton {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  color: white;
  background: rgb(0, 128, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 30px;
  margin-right: 30px;
  align-self: flex-end;
  cursor: pointer;
}
.nextStepButton:hover , .newGroupDone:hover{
  background: rgb(0, 128, 0, 0.8);
}
.groupsconfig {
  display: flex;
  flex-direction: column;
}
.contactList {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
}

.contactList > li {
  transition: 200ms;
  width: 100%;
  display: flex;
  cursor: pointer;
}
.contactList > li:hover  {
  background: rgb(0, 0, 0, 0.1);

}
.contactList > li > div {
  width: 80%;
  border-bottom: 1px solid rgb(0, 0, 0, 0.15);
  margin-left: 20px;
  display: flex;
  align-items: center;
  height: 60px;
}
.contactList > li > div> span{
  display: flex;
  align-items: center;
}
.contactList > li > div> span:last-child{
  margin-left: 20px;
}
.contactList > li > div> span:first-child{
  color: gray;
}

.contactList > span {
  color: rgb(81, 143, 142);
  font-weight: 900;
  margin-left: 30px;
  font-size: 16px;
}


.participants {
  border-bottom: 1px solid rgb(0, 0, 0, 0.3);
  margin-bottom: 50px;
}
.participants > li {
  /* margin: 5px 20px; */
  display: flex;
}
.participants > li  > div {
  background: rgb(205, 205, 255);
  margin: 5px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 40px;
  cursor: pointer;
}
.participants > li  > div:hover {
  background: rgb(205, 205, 255, 0.8);
}

.participants > li  > div > span:first-child {
  margin-left: 15px;
}
.participants > li  > div > span {
  margin: 0px 2px;
}
.participants > li  > div > span >.mat-icon {
  display: flex;
  justify-content: center;
}

.newGroupDone {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  background: rgb(0, 128, 0);

  color: white;
  margin: 10px 0px;
  cursor: pointer;
  margin: 15px;
}

