<div class="newGroup">
  <button class="back">
    <i (click)="cancelNewGroup()"><mat-icon>keyboard_backspace</mat-icon></i>

    <h3>Create a new group</h3>
  </button>

  <div *ngIf="!goNextStep" class="groupsconfig">
    <div class="participants">
      <li *ngFor="let item of participantsList">
        <div (click)="removeParticipants(item.name, item.email)">
          <span>{{ item.email }}</span>
          <!-- <span>emailqualquer@gmail.com</span> -->

          <span><mat-icon>remove</mat-icon></span>
        </div>
      </li>
    </div>

    <div class="contactList">
      <span>#</span>
      <li
        *ngFor="let participants of contactList"
        (click)="addParticipants(participants.name, participants.email)"
      >
        <div>
          <span class="userIcon"> <mat-icon>account_circle</mat-icon> </span>
          <span> {{ participants.email }}</span>
          <!-- <span>emailqualquer@gmail.com</span> -->
          <!-- <span> <mat-icon>add</mat-icon> </span> -->
        </div>
      </li>
    </div>
    <div class="nextStepButton" (click)="nextStep()">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </div>
  </div>

  <div class="group-details" *ngIf="goNextStep">
    <div class="box">
      <div class="groupImg">
        <span><mat-icon aria-hidden="false">camera_enhance </mat-icon> </span>
        <span>Add Group</span>
        <span>ICON</span>
      </div>
      <div class="tittle">
        <span *ngIf="!_editName">{{ groupDetails.roomName }}</span>
        <input
          type="text"
          *ngIf="_editName"
          (input)="groupDetails.roomName = $event.target.value"
          value="{{ groupDetails.roomName }}"
        />
        <i (click)="editTitle()"
          ><mat-icon aria-hidden="false"> create </mat-icon></i
        >
      </div>
      <span>Created today at 00:00</span>
    </div>
    <div class="desc-group">
      <div class="col">
        <div class="box">
          <h2>description</h2>
          <div class="description">
            <span *ngIf="!_editDescription">
              {{ groupDetails.description }}
            </span>
            <input
              type="text"
              value="{{ groupDetails.description }}"
              *ngIf="_editDescription"
              (input)="groupDetails.description = $event.target.value"
              value="{{ groupDetails.description }}"
            />

            <i (click)="editDescription()">
              <mat-icon aria-hidden="false"> create </mat-icon>
            </i>
            <div></div>
          </div>
        </div>
        <div class="box">
          <div class="mute">
            <span>Mute Notifications</span>
            <i>
              <mat-icon
                aria-hidden="false"
                (click)="checkBox(true)"
                *ngIf="MuteStatus"
              >
                check_box
              </mat-icon>
              <mat-icon
                aria-hidden="false"
                (click)="checkBox(false)"
                *ngIf="!MuteStatus"
              >
                check_box_outline_blank
              </mat-icon>
            </i>
          </div>
          <div (click)="addMoreParticipants()">
            <span>
              <mat-icon>group_add</mat-icon>
            </span>
            <span> Add more participants </span>
          </div>
          <div>
            <li *ngFor="let participants of participantsList">
              <span class="userIcon">
                <mat-icon>account_circle</mat-icon>
              </span>
              <span>
                {{ participants.email }}
              </span>
            </li>
          </div>
        </div>
        <div (click)="newGroupDone()">
    <mat-icon>done</mat-icon>
    </div>
      </div>
    </div>
  </div>
</div>
