<div class="info">
  <h2 class="line">About</h2>
  <p>
    "Use my knowledge to improve and test my skills as a programmer".🚀
  </p>
  <p>
    This project is part of my portfolio, so feel free to get in touch for feedback on the code, structure or other reason that will help me become a better programmer!
  </p>

  <h2 class="line">Functionalities</h2>
  <ul>
    <li>Register and login a personal account.</li>
    <li>Using socketIo to create a realtime chat.</li>
    <li>Saved all the messages, private groups and contacts in a database</li>
  </ul>
  <h2 class="line">Observations</h2>
  <p>This app is hosted  on <Strong>&nbsp;heroku free plan</Strong>, meaning that on the initial load, the server mat neet to start which can cause a <strong>&nbsp;delay</strong>.
  </p>

  <div>
    <span>
      <a href="https://github.com/Biel-97"
       target="_blank"
       aria-hidden="true"> github</a>
  </span>


  <span>
      <a href="https://www.linkedin.com/in/gabrielp-oliveira/"
          target="_blank"
          aria-hidden="true">Linkedin</a> </span>
  <span>
      <a href="https://gabrielp-oliveira.github.io/"
          target="_blank"
          aria-hidden="true">
          Portfolio
      </a>
  </span>
  </div>

</div>
